<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StuDistMapper">

    <resultMap id="stuDistResult" type="StuDist" >
        <id column="id" property="id"  />
        <result column="deptName" property="deptName"  />
        <result column="studentId" property="studentId"  />
        <result column="studentName" property="studentName"  />
        <result column="teacherId" property="teacherId"  />
        <result column="teacherName" property="teacherName"  />
        <association property="student" column="studentId" javaType="SysUser" resultMap="studentResult" />
        <association property="teacher" column="teacherId" javaType="SysUser" resultMap="teacherResult" />
    </resultMap>

    <resultMap id="deptResult" type="SysDept">
        <id     property="deptId"    column="dept_id"     />
        <result property="parentId"  column="parent_id"   />
        <result property="deptName"  column="dept_name"   />
        <result property="ancestors" column="ancestors"   />
        <result property="orderNum"  column="order_num"   />
        <result property="leader"    column="leader"      />
        <result property="status"    column="dept_status" />
    </resultMap>

    <resultMap id="studentResult" type="SysUser">
        <id     property="userId"       column="user_id"      />
        <result property="deptId"       column="dept_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
        <result property="email"        column="email"        />
        <result property="phonenumber"  column="phonenumber"  />
        <result property="sex"          column="sex"          />
        <result property="userType"     column="user_type"     />
        <result property="avatar"       column="avatar"       />
        <result property="password"     column="password"     />
        <result property="status"       column="status"       />
        <result property="delFlag"      column="del_flag"     />
        <result property="loginIp"      column="login_ip"     />
        <result property="loginDate"    column="login_date"   />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"       column="remark"       />
    </resultMap>

    <resultMap id="teacherResult" type="SysUser">
        <id     property="userId"       column="user_id"      />
        <result property="deptId"       column="dept_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="teacherNickName"    />
        <result property="email"        column="email"        />
        <result property="phonenumber"  column="phonenumber"  />
        <result property="sex"          column="sex"          />
        <result property="userType"     column="user_type"     />
        <result property="avatar"       column="avatar"       />
        <result property="password"     column="password"     />
        <result property="status"       column="status"       />
        <result property="delFlag"      column="del_flag"     />
        <result property="loginIp"      column="login_ip"     />
        <result property="loginDate"    column="login_date"   />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"       column="remark"       />
    </resultMap>

    <sql id="selectDistVo">
        select sd.id,su.user_id as studentId,su.user_name as studentName,sd.teacherId,teac.user_name as teacherName,dept.dept_name as deptName,su.dept_id as deptId
            ,su.nick_name,teac.nick_name as teacherNickName
        from sys_user su
            LEFT JOIN studist sd ON sd.studentId = su.user_id
            LEFT JOIN sys_user teac ON teac.user_id = sd.teacherId
            LEFT JOIN sys_user stud ON stud.user_id = sd.studentId
            LEFT JOIN sys_dept dept ON dept.dept_id = su.dept_id
        where su.user_type = '01'
    </sql>

    <select id="selectDistList" parameterType="StuDist" resultMap="stuDistResult">
        <include refid="selectDistVo"/>
        <if test="studentId != null and studentId != ''">
            AND su.user_id = #{studentId}
        </if>
        <if test="studentName != null and studentName != ''">
            AND su.user_name like concat('%', #{studentName}, '%')
        </if>
        <if test="teacherId != null and teacherId != ''">
            AND teac.user_id = #{teacherId}
        </if>
        <if test="teacherName != null and teacherName != ''">
            AND teac.user_name like concat('%', #{teacherName}, '%')
        </if>
        <if test="deptId != null and deptId != 0">
            AND (dept.dept_id = #{deptId} OR dept.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors) ))
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <insert id="insertDist" parameterType="StuDist" useGeneratedKeys="true" keyProperty="id">
        insert into studist(
        <if test="studentId != null and studentId != ''">studentId,</if>
        <if test="teacherId != null and teacherId != ''">teacherId</if>
        )values(
        <if test="studentId != null and studentId != ''">#{studentId},</if>
        <if test="teacherId != null and teacherId != ''">#{teacherId}</if>
        )
    </insert>

    <update id="updateDist" parameterType="StuDist">
        <if test="studentId != null and studentId != '' and teacherId != null and teacherId != ''">
        update studist set teacherId = #{teacherId} where studentId = #{studentId}
        </if>
    </update>

    <delete id="deleteDistByIds" parameterType="Long">
        delete from studist where studist.id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>